*{
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    margin: 0;
}

.btn{
    background-color: white;
    border-radius: 5px;
    border: none;
    color: red;
    margin: 1rem;
    padding: 1.5rem 3rem;
    font-size: 1.3rem;
    font-family: inherit;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.btn:focus{
    outline: none;
}

.btn:active{
    transform: scale(0.8);
    transform: translateY(4px);
    box-shadow: 0 0 10px red;
}